svg {
  font: 10px sans-serif;
}

.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: steelblue;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  /* text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff; */
  cursor: move;
  color: white;
  stroke: #eee;
}

.names {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  }

    /* Tooltip CSS */
    .d3-tip {
    line-height: 1.5;
    font-weight: 400;
    font-family:"avenir next", Arial, sans-serif;
    padding: 6px;
    background: rgba(0, 0, 0, 0.6);
    color: #FFA500;
    border-radius: 1px;
    pointer-events: none;
    }

    /* Creates a small triangle extender for the tooltip */
    .d3-tip:after {      
      box-sizing: border-box;
      display: inline;
      font-size: 8px;
      width: 100%;
      line-height: 1.5;
      color: rgba(0, 0, 0, 0.6);
      position: absolute;
      pointer-events: none;
      
    }

    /* Northward tooltips */
    .d3-tip.n:after {
      content: "\25BC";
      margin: -1px 0 0 0;
      top: 100%;
      left: 0;
      text-align: center;
    }

    /* Eastward tooltips */
    .d3-tip.e:after {
      content: "\25C0";
      margin: -4px 0 0 0;
      top: 50%;
      left: -8px;
    }

    /* Southward tooltips */
    .d3-tip.s:after {
      content: "\25B2";
      margin: 0 0 1px 0;
      top: -8px;
      left: 0;
      text-align: center;
    }

    /* Westward tooltips */
    .d3-tip.w:after {
      content: "\25B6";
      margin: -4px 0 0 -1px;
      top: 50%;
      left: 100%;
    }

/*    text{
      pointer-events:none;
    }*/

    .details{
      color:white;
    }



      .legend {
        font-family: 'Raleway', sans-serif;
        fill: #333333;
      }

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  stroke-width: 1px;
}


.box {
  
  /*margin-top: 10vh;*/
    /* background-image: linear-gradient(to left, #cc2b5e, #753a88); */
    border-radius: 10px;
    box-shadow: 7px 7px 30px;
    margin: 5px;
   /* padding: 10px;
    margin-left: 5vh;
    height: 40vh;*/
    background-color: rgba(0, 0, 0, 0.8);


    backdrop-filter: blur(30px);
    /*cursor: crosshair;*/
}



  .background path {
        fill: none;
        stroke: #ddd;
        shape-rendering: crispEdges;
      }

      .foreground path {
        fill: none;
        stroke: pink;
      }

      .brush .extent {
        fill-opacity: .3;
        stroke: #fff;
        shape-rendering: crispEdges;
      }

      .axis line,
      .axis path {
        fill: none;
        stroke: #fff;
        shape-rendering: crispEdges;
      }

      .axis text {
        /* text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff; */
        cursor: move;
        color: #eee;
      }

      .axis .axis-label {
        font-size: 9px;
        font-weight: bold;
        text-transform: uppercase;
      }