<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Visualization</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/d3-tip.css">
    <link rel="stylesheet" type="text/css" href="../static/css/hp.css">
    <link rel="stylesheet" type="text/css" href="../static/css/lineplot.css">
    <script src="../static/js/d3.v4.js"></script>
    <script src="../static/js/d3-tip-test.js"></script>
    <script src="https://d3js.org/queue.v1.min.js"></script>
    <script src="https://d3js.org/topojson.v1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://d3js.org/d3-color.v1.min.js"></script>
    <script src= "https://d3js.org/d3-interpolate.v1.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../static/js/year_buttons.js"></script>
    <script src="../static/js/pie.js"></script>
    <script src="../static/js/parallel.js"></script>
    <script src="../static/js/world_map.js"></script>
    <script src="../static/js/word_cloud.js"></script>
    <script src="../static/js/line_plot.js"></script>
    <script src="../static/js/post.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>
  </head>
  <body style="background-color: #1A1A1A; max-width: 100vw; overflow: hidden;">
    <!-- <nav class="navbar navbar-inverse navbar-fixed-top" style="height: 6vh; background-color:#1A1A1A;">
      <div id="mds1" style="color: white; max-width: 100vw;overflow: visible;min-height:10vh;">
      </nav> -->
      <div class="row" style="backdrop-filter: blur(8px);">
        <div class="col-xs-7 col-md-5">
          <div class="row" style="margin-top: 10px;">
              <div id="world_map" style="  height: 800px;width:700px; padding-bottom: 200px;">
                <div id="year_buttons" class="btn-group" style="margin-left: 40px; margin-bottom: 20px; margin-top: 30px;">
                  <button id="btn1" type="button" class="btn btn-primary active btn-danger" onclick="onYearButtonClicked(this)">1970-1980</button>
                  <button id="btn2" type="button" class="btn btn-secondary" onclick="onYearButtonClicked(this)">1980-1990</button>
                  <button id="btn3" type="button" class="btn btn-secondary" onclick="onYearButtonClicked(this)">1990-2000</button>
                  <button id="btn4" type="button" class="btn btn-secondary" onclick="onYearButtonClicked(this)">2000-2010</button>
                  <button id="btn5" type="button" class="btn btn-secondary" onclick="onYearButtonClicked(this)">2010-2020</button>
                </div>
              </div>
              
              <div class="col-xs-6 col-md-6" id="pie_chart" style="margin-left: 50px;"></div>
              <div class="col-xs-3 col-md-5" id="word_cloud" style="font-weight: bold;">
              </div>
        </div>
        
           
        </div>
        <div class="col-xs-7 col-md-6">
          <div style="padding-top: 20px;">
              <div id="pcp" class="pcp"></div>
          </div>
          </div>
          <div class="col-xs-3 col-md-3" style="padding-left: 300px; height: 250px;width: 600px; margin-top: 20px; margin-left: 100px">
            <div  class="row" id="chart"></div> 
          </div>
            
            
           
          
      </div>
      
    </div>
  </body>


<script>

  var country_name = 'United States'
  var year = 1970
  world_map(year);
  pcp(country_name, year);
  wc(country_name, year);
  pieChart(country_name, year)
  create_chart(country_name, year)
</script>
<link rel="stylesheet" type="text/css" href="../static/css/pro-style.css">
</html>